.App {
  height: 100vh;
  background-color: black;
  background-size: cover;
}

.halloween {
  height: 100vh;
  background-image: url(/Assets/halloween.jpg);
  background-size: auto;
}

.fruit {
  height: 100vh;
  background-image: url(/Assets/fruit.jpg);
  background-size: auto;
}

.card {
  height: 200rem;
  width: 10rem;
}